@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*
{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
}

body
{
    background-color:rgb(255, 255, 255);
}
.game
{
    text-align: center;
    background-color: rgb(189, 189, 189);
    margin: 10px auto;
}
.h1
{
    color: rgba(0, 0, 0, 0.83);
}
header,footer
{
    background-color: rgb(93, 93, 93);
    padding: 10px;
}
main
{
    margin: 10px auto;
}
.tentativa
{
    display: flex;
    justify-content: space-around;
}
.left,.right
{
    display: flex;
}
.left > div, .right > div
{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}
.SelecionaCor
{

    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.btnEnviar
{
    background-color: rgb(127, 25, 25);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 35px;
    margin: 5px auto;
    cursor: pointer;
    font-weight: 600;
    margin-right: 15px;
}
#div_dados
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}