<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="" method="">
        <label for="firstName"> First name:</label>
        <input type="text" name="firstName" id="firstName">
        <label for="lastName"> Last name:</label>
        <input type="text" name="lastName" id="lastName">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="password">senha:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Enviar">
        <input type="reset" value="Limpar">
    </form>    
     <script src="../js/controllers/controllerLogin.js"></script>
</body>
</html>